.menu {
    padding: 5px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background: gray;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #3e8e41;
}

.separator {
    color: white;
}

#text-title {
    display: block;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

chronicle-entry {
    display: block;
}

.ui-keyboard {
    border: thick double black;
}

.ui-keyboard-accept {
    background-color: #3e8e41;
    color: white;
}

.ui-keyboard-cancel {
    background-color: #ff5d5b;
    color: white;
}